body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;    
    color: white;
}
button{
    background-color: #3882f6;
    color: white;
    padding: 4px 24px;
    border-radius: 5px;
}
img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}
.nav{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}

a{
    text-decoration: none;
    color: lightgray;
}

.nav-right{
    display: flex;
    gap: 24px;
    padding: 18px 0px;

}

.intro{
    background-color: #1f2937;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
    gap: 20px;
}

.content{
    font-size: 18px;
    color: #e6e7eb;
    inline-size: 500px;
}
h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
}
.luffy img{
    border: none;
    width: 400px;
    height: 400px;
}
h2{
    background-color: white;
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
    margin-bottom: 0;
    text-align: center;
    padding-top:50px;
}
.members{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
    padding: 100px 200px;

}
.members p{
    inline-size: 200px;
}

.quote{
    background-color: #e6e7eb;
    color: black;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding: 100px 260px;
}
.banner{
    background-color: #3882f6;
    border-radius: 5px;
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

.banner button{
    border: 2px solid white
}

.footer{
    background-color: #1f2937;
    text-align: center;
    padding: 10px 0px;
}